<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="url" value="https://www.just-eat.co.uk/"/>
  <parameter name="postcode" value="AR51 1AA"/>
  <parameter name="invalid_postcode" value="12A b25"/>
  <classes>
  <class name="automationscripts.JustEatAutomation.Automation"/>
    <class name="automationscripts.JustEatAutomation.AccessibilityTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
